{% extends "matches/home.html" %}

{% block title %}League Creation{% endblock %}

{% block content %}
<div style="margin: 10px 20px;" class="createLeague">
    <h1>Create a New League</h1>
    <form method="post" class="form-container">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="error" style="color: red;">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="backdir">
        <button type="submit" >Create League</button>
        <a href="{% url 'index' %}">Annuler</a>
    </div>
    </form>
</div>
{% endblock %}