{% extends "matches/home.html" %}

{% block title %}League Creation{% endblock %}

{% block content %}
<div style="margin: 10px 20px;" class="createLeague">
    <h1>Create a New League</h1>
    {% if user.is_authenticated %}
    <form method="post" class="form-container">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="error" style="color: red;">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="backdir">
        <button type="submit" >Create League</button>
        <a href="{% url 'index' %}">Annuler</a>

    </div>
    </form>
    {% else %}
        <p style="text-align: center; font-size: 1.rem; margin-top: 1rem;">Veuillez vous connecter pour creer une league.</p>
        <div class="nonidentifier">
            <a href="{% url 'login' %}">connecter</a>
            <a style="color: red;" href="{% url 'index' %}">Annuler</a>
        </div>
        
    {% endif %}
    
</div>
{% endblock %}