{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'matches/css/style_genmatch.css' %}" />
    <title>les matchs</title>
</head>
<body>
  <div class="container">
  <h2>Generate Matches</h2>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Générer</button>
  </form>
</div>

<!--

        <h1>Liste des Matchs</h1>
  <ul>
    {% for match in matches %}
      <li>{{ match.home_team.name }} vs {{ match.away_team.name }} - {{ match.date }}</li>
    {% empty %}
      <li>Aucun match programmé.</li>
    {% endfor %}
  </ul>-->
</body>
</html>