{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'matches/css/style_index.css' %}" />
    <title>page accueil</title>
  </head>
  <body>
    
      <nav class="navbar">
        <ul>
          <li><a href="{% url 'add_team' %}">Ajouter équipe</a></li>
          <li><a href="{% url 'listTeam' %}">Afficher équipes</a></li>
          <li><a href="{% url 'generate_matches' %}">Générer matchs</a></li>
          <li>
            <a href="{% url 'list_and_update_matches' %}">Lister Matches</a>
          </li>
          <li><a href="{% url 'view_standings' %}">Classements</a></li>
        </ul>
      </nav>
      

      <div class="bienvenu">
        <h1>Bienvenue sur la plateforme de gestion de votre League</h1>
      </div>
      <!--

      <div class="Lesliens">
        <span><a href="{% url 'add_team' %}">Ajout Team</a></span>

        <span><a href="{% url 'listTeam' %}">Afficher les équipes</a></span>

        <span>
          <a href="{% url 'generate_matches' %}">Générer des matchs</a></span
        >

        <span><a href="{% url 'list_and_update_matches' %}">Matches</a></span>

        <span><a href="{% url 'view_standings' %}">Classements</a></span>
      </div>
      <div class="container"></div>
    </div>-->
  </body>
</html>
