{% extends "matches/home.html" %} 

{% block title %}{{ league.name }} Standings{%endblock %} 

{% block content %}
<div class="standings allLeague">
  <h1>{{ league.name }} Standings</h1>
  <table>
    <tr>
      <th>Team</th>
      <th>GP</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>PTS</th>
      <th>GF</th>
      <th>GA</th>
      <th>GD</th>
    </tr>
    {% for team in teams %}
    <tr>
      <td>
        <a href="{% url 'teamMatches' league.id team.id %}">{{ team.name }}</a>
      </td>
      <td>{{ team.games_played }}</td>
      <td>{{ team.wins }}</td>
      <td>{{ team.draws }}</td>
      <td>{{ team.losses }}</td>
      <td><b>{{ team.points }}</b></td>
      <td>{{ team.goals_for }}</td>
      <td>{{ team.goals_against }}</td>
      <td>{{ team.goal_difference }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="backdir">
    <a href="{% url 'allLeague' %}">Back to League Details</a>
    <a href="{% url 'index' %}">Back to home Page</a>
  </div>
</div>
{% endblock %}

