{% extends "matches/home.html" %} {% block title %}League Teams{% endblock %} 
{% block content %}

<div class="teamListLeague">
  <h1>Teams of {{ league.name }}</h1>
  <ul>
    {% for team in teams %}
    <li style="display: flex; justify-content: space-between">
      <div>
        <span>{{ forloop.counter }}</span>
        <span class="endSpan">{{ team.name }}</span>
      </div>
      <span class=".endSpanE"
        ><a href="{% url 'deleteTeam' pk=team.pk %}">Remove</a></span
      >
    </li>
    {% empty %}
    <li>No Teams in the {{league.name}} league yet.</li>
    {% endfor %}
    <div class="backdir">
      <a href="{% url 'allLeague' %}">Back to League Details</a>
      <a href="{% url 'index' %}">Back to home Page</a>
    </div>
  </ul>
</div>

{% endblock %}

