<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>les matchs</title>
</head>
<body>
    <h1>Liste des Matchs</h1>

    {% for match in matches %}
    <div class="match_container">
      <div class="team1">{{ match.home_team.name }}</div>
      <div class="team2">{{ match.away_team.name }}</div>
      <div class="form">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="hidden" name="played" value="True">
          <button type="submit">Update Score</button>
      </form>
      </div>

    </div>
    {% empty %}
    Aucun match trouvé.
    {% endfor %}
    <!--
  <table>
    <thead>
      <tr>
        <th>Équipe à domicile</th>
        <th>Équipe extérieure</th>
        <th>Date du match</th>
        <th>Score à domicile</th>
        <th>Score extérieur</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for match in matches %}
        <tr>
          <td>{{ match.home_team.name }}</td>
          <td>{{ match.away_team.name }}</td>
          <td>{{ match.date }}</td>
          <td>{{ match.home_score }}</td>
          <td>{{ match.away_score }}</td>
          <td>
            <a href="{% url 'update_match_score' match_id=match.id %}">Mettre à jour le score</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">Aucun match trouvé.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>-->
</body>
</html>