{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'matches/css/style_listteams.css' %}">
    <title>les équipes</title>
  </head>
  <body>
    <div class="container">
      <h1>Liste des Équipes</h1>
      <ul>
        {% for team in teams %}
        <li>{{ team.name }}</li>
        {% empty %}
        <li>Aucune équipe disponible.</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
