{% extends "matches/home.html" %}

{% block title %}Les Leagues{% endblock %}

{% block content %}
<div class="leagueall_detail">
  <h2>All Leagues</h2>
  <ul>
    {% for league in leagues %}
    <li>
      <div class="leaguename">
        <span>{{ league.name|upper }}</span>
      </div>
      <div class="league_detail">
        
        {% if user.is_authenticated %}<span><a href="{% url 'createTeam' league.id %}">Add Team</a></span>{% endif %}
        <span><a href="{% url 'teamList' league.id %}">List Teams</a></span>
        {% if user.is_authenticated %}<span
          ><a href="{% url 'generateMatches' league.id %}"
            >Generate Matches</a
          ></span
        >{% endif %}
        <span
          ><a href="{% url 'matchList' league.id%}">List Matches</a></span
        >
        {% if user.is_authenticated %}<span
          ><a href="{% url 'updateLeagueMatches' league.id %}"
            >Update Score</a
          ></span
        >{% endif %}
        <span
          ><a href="{% url 'leagueStandings' league.id %}"
            >standings</a
          ></span
        >
        {% if user.is_authenticated %}<span
          ><a href="{% url 'deleteLeague' league.id %}"
            >Delete League</a
          ></span
        >{% endif %}
        <span><a href="{% url 'index' %}">Home Page</a></span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
