{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'matches/css/style_leaguestandings.css' %}">
    <title>classements</title>
</head>
<body>

  <h1>Classement des équipes</h1>
  <table>
      <tr>
        <th>Equipes</th>
        <th>MJ</th>
        <th>V</th>
        <th>N</th>
        <th>D</th>
        <th>PTS</th>
        <th>BP</th>
        <th>BC</th>
        <th>DB</th>
      </tr>
      {% for stat in standings %}
        <tr>
          <td><a href="{% url 'team_detail' stat.id %}">{{ stat.name }}</a></td>
          <td>{{ stat.games_played }}</td>
          <td>{{ stat.wins }}</td>
          <td>{{ stat.draws }}</td>
          <td>{{ stat.losses }}</td>
          <td>{{ stat.points }}</td>
          <td>{{ stat.goals_for }}</td>
          <td>{{ stat.goals_against }}</td>
          <td>{{ stat.goal_difference }}</td>
        </tr>
      {% endfor %}
  </table>

</body>
</html>

