{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ajout d'un match</title>
    <link rel="stylesheet" href="{% static 'css/style_add.css' %}" />
  </head>
  <body>
    <div class="addmatch">
      <h1>Ajouter un match</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Ajouter</button>
      </form>
    </div>
    <div class="message_ajouter">
    {% if messages %}
        <div id="message-container">
          {% for message in messages %}
            <div>{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    </div>
    <script>
        window.onload = function() {
          setTimeout(function() {
            const messageContainer = document.getElementById('message-container');
            if (messageContainer) {
              messageContainer.style.display = 'none'; // Cache le conteneur de messages
            }
          }, 3000); // 3000 millisecondes équivaut à 3 secondes
        };
      </script>
      
  </body>
</html>
