body {
    display: flex;            /* Utilise Flexbox pour centrer le contenu */
    justify-content: center;  /* Centre horizontalement les éléments enfants */          /* Donne une hauteur totale au body */
    margin: 0;                /* Enlève les marges par défaut du body */
}

.match_detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.match_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #848f84;
    padding: 10px 0px;
    
}
.match_container:nth-child(odd) {
    background-color: #d3f0ec;
}
.match_container:nth-child(even) {
    background-color: #5af3b3;
}

.matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

.team{
    display: flex;
    align-items: center;
    width: 20rem;
}
.result{
    margin: 0px 5px;
}

.won {
    background-color: #4CAF50;
    margin: 5px;
}

.lost {
    background-color: #F44336;
}

.draw {
    background-color: #FFEB3B;
}

.away-team{
    text-align: left
}
.home-team{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.team-name{
    text-align: right;
    font-size: 1.5rem;
}

.score{
    font-size: 1.5rem;
    margin: 0px 30px;
    min-width: 60px;
    text-align: center;
    width: 10rem;
}