.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
}


form p {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

form label{
    font-size: 1.3rem;
    color: blue;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 30%;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"], select {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    align-items: center;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
}

button:hover {
    background-color: #45a049;
}


.action a {
    text-decoration: none;
    background-color: #e7e7e7;
    color: black;
    padding: 12px 30px;
    border-radius: 4px;
}

.action a:hover {
    background-color: #d60909;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    box-sizing: border-box;
}
 