
body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #dcd3d3;
    color: #333;
    padding: 20px;
    align-items: center;
}

a{
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #092bc4;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

th{
    font-size: 1.2rem;
}

td{
    font-size: 1rem;
}


th, td {
    padding: 12px;
    text-align: left;
    /*border-bottom: 0.1px solid #ddd;  */
}

th {
    background-color: #7b6187;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #e6f7ff; }

tr:nth-child(odd) {
    background-color: #ffffff; 
}

tr:hover {
    background-color: #ccefff; 
}
@media screen and (max-width: 768px) {

    body{
        margin: 10px 0;
        padding: 0 0;
    }

    h1{
        font-size: 1.3rem;
        margin: 10px 0px;
    }

    table {
        /*display: flex;*/
        padding: 0 1px;
    }
    th{
        font-size: 0.7rem;
        text-align: left;
    }
    td{
        font-size: 0.6rem;
        padding: 8px;
    }
}
