@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "reset.css";

body {
  color: #360303;
  background-color: #f4f4f4;
}

.container {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

p {
  font-size: 1.1rem;
  padding-bottom: 0.9rem;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: green;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header,
section,
footer {
  text-align: center;
  padding: 20px;
}

header {
  background-color: #006400;
  color: white;
  width: 100%;
}

section {
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 95%;
}

footer {
  background-color: #333;
  color: white;
  width: 100%;
}

#create-league,
#manage-league,
#track-rankings {
  color: #444;
}
/*------------renvoi multiple---------------------*/
.backdir {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.backdir a {
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
  margin: 5px;
  padding: 8px 16px;
  border: 1px solid #007bff;
  border-radius: 4px;
  display: inline-block;
}

.backdir a:hover {
  background-color: #007bff;
  color: white;
  transition: all 0.3s ease;
}

.createLeague .backdir a {
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #ff0000;
  border-radius: 4px;
  display: inline-block;
  flex-grow: 1;
}
.createLeague .backdir a:hover {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  text-decoration: none;
}

.createLeague .backdir button {
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
  /*width: 100%;*/
  font-weight: 500;
  flex-grow: 1;
}

.createLeague .backdir button:hover {
  background-color: #45a049;
  color: #000;
}

.createLeague .nonidentifier{
  display: flex;
  justify-content: space-between;
}

.createLeague .nonidentifier a{
  border: 1px solid blue;
  padding: 1rem 1.2rem;
  border-radius: 4px;
}

.createLeague .nonidentifier a{
  text-decoration: none;
}

/* ----------------- create a league----------------------*/

.createLeague {
  max-width: 700px;
  width: 90%;
}

.createLeague a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
  font-size: 1.2rem;
}

.createLeague a:hover {
  text-decoration: underline;
}

.createLeague .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.createLeague label {
  flex-basis: 40%;
  text-align: left;
  font-size: 1.2rem;
  padding-right: 0.9rem;
}

.createLeague input[type="text"],
.createLeague input[type="email"],
.createLeague input[type="number"],
.createLeague textarea,
.createLeague select {
  flex-grow: 1;
  padding: 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* ----------------- all standings----------------------*/
.allLeague {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 700px;
  width: 100%;
}

.allLeague h2 {
  text-align: left;
  font-size: 1rem;
  color: blue;
}

.allLeague table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.041rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.allLeague table th,
.allLeague table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.allLeague table th {
  background-color: #406440;
  color: white;
}

.allLeague table tr span {
  color: rgb(4, 46, 33);
  font-size: 1.1rem;
  font-weight: bold;
}

.allLeague table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.allLeague table tr:nth-child(odd) {
  background-color: #ffffff;
}

.allLeague table td b {
  font-weight: bold;
}

.standings {
  max-width: 1000px;
}

.standings h1 {
  text-align: left;
  color: blue;
}

/* ---------------- show league ------------- */
.leagueall_detail {
  margin-bottom: 2rem;
  width: 80%;
  border-radius: 4px;
}
.leagueall_detail h2 {
  color: #444;
  text-align: center;
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
}

.leagueall_detail ul {
  list-style: none;
  padding: 0;
}

.leagueall_detail ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
  flex-grow: 1;
  border-bottom: 1px solid #333;
  padding: 0px 0px;
  margin-top: 1rem;
}

.leagueall_detail ul li .league_detail {
  display: flex;
}

.leagueall_detail ul li .league_detail span {
  padding: 10px 5px;
  border-radius: 0.5rem;
}

.leagueall_detail ul li .league_detail span a {
  color: #084e11;
  padding: 5px 10px;
  text-align: left;
  background-color: #cccaca;
  border-radius: 0.2rem;
  color: #5c67cc;
}

.leagueall_detail ul li .league_detail span a:hover {
  text-decoration: none;
  background-color: #ddd0d0;
  color: #360303;
}

.leagueall_detail ul li .leaguename {
  display: flex;
}

.leagueall_detail ul li .leaguename span {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 0px;
  font-weight: bold;
  color: blue;
}

/* ----------add team ------------*/
.createTeam form {
  margin-bottom: 1rem;
}
/* -----------confirm delete-------------*/
.confirmDelete {
  max-width: 600px;
}

.confirmDelete h1 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 1.5rem;
  font-weight: bold;
}

.confirmDelete form {
  margin-top: 20px;
}

.confirmDelete input[type="submit"] {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  display: flex;
  flex-grow: 1;
  margin-right: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.confirmDelete input[type="submit"]:hover {
  background-color: #c9302c;
}

.confirmDelete a {
  text-decoration: none;
  color: #fff4f4;
  display: flex;
  background-color: #13632b;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  flex-grow: 1;
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.confirmDelete a:hover {
  background-color: #09471c;
}

.confirmDelete .confirmSub {
  display: flex;
  justify-content: space-between;
}

.confirmDelete form {
  margin-bottom: 2rem;
}

/* -------------team list ------------------*/
.teamListLeague {
  max-width: 900px;
  width: 75%;
}

.teamListLeague h1 {
  color: #0e4780;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.teamListLeague ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: auto;
  margin-bottom: 2rem;
}

.teamListLeague ul li {
  background: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.5;
}

.teamListLeague ul li span {
  margin-right: 0.75rem;
  color: blue;
}

.teamListLeague ul li .endSpan {
  color: #000;
  margin-right: 0rem;
}

.teamListLeague ul li .endSpanE {
  margin-right: 0rem;
}

.teamListLeague ul li {
  font-size: 1.2rem;
  font-weight: bold;
}

.teamListLeague ul li:last-child {
  margin-bottom: 0;
}
/*-----------match list--------------*/
.matchList {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.matchList h1 {
  text-align: center;
  color: #0933bd;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.matchList ul {
  list-style: none;
  padding: 0;
}

.matchList ul li {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.matchList ul li .matchDetails {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.matchList ul li .matchDetails .Team {
  flex-grow: 1;
  width: 40%;
  font-size: 1.2rem;
}

.matchList ul li .matchDetails .homeTeam {
  text-align: right;
  margin-right: 2.5rem;
  font-weight: 800;
}

.matchList ul li .matchDetails .awayTeam {
  text-align: left;
  margin-left: 2.5rem;
}

.matchList ul li .matchDetails .score {
  font-size: 1.2em;
  font-weight: bold;
}

.matchList ul li .played {
  font-size: 0.8em;
  margin-top: 5px;
}

.matchList .backdir a {
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
  margin: 5px;
  padding: 8px 16px;
  border: 1px solid #007bff;
  border-radius: 4px;
  display: inline-block;
}

.matchList .backdir {
  display: flex;
  justify-content: space-between;
}

.matchList .backdir a:hover {
  background-color: #007bff;
  color: white;
  transition: all 0.3s ease;
}

/* -------------------generate match-----------------------*/

.generateMatch {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  max-width: 600px;
}
.generateMatch form {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 80%;
  margin-bottom: 30px;
  padding: 10px 10px;
}

.generateMatch form label {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0px;
}

.generateMatch h1 {
  color: #1d29d8;
  text-align: center;
  margin-bottom: 1.5rem;
}

.generateMatch form p {
  display: flex;
  flex-direction: row;
}

/* --------------------update score--------------------*/
.updateScore {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px;
}

.updateScore h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  color: blue;
}

.updateScore form .aller_retour .team_goals_aff {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.updateScore form .aller_retour .team_goals_aff div {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*width: 50%; */
}

.updateScore form .aller_retour input[type="number"] {
  padding: 5px;
  border: 1px solid #9b9393;
  border-radius: 4px;
  width: 40%;
}

.updateScore form .aller_retour {
  padding: 10px 10px;
  border: 1px solid rgb(67, 56, 56);
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  font-size: 1.3rem;
  flex-wrap: wrap;
}

.updateScore form .update_button {
  padding: 10px;
  justify-content: flex-end;
}

.updateScore form .update_button button {
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.updateScore form .update_button button:hover {
  background-color: #0056b3;
}

.updateScore .backdir {
  width: 100%;
}

/*-------------------login--------------------*/
.container .login-container {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .login-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .login-container input[type="text"], input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex-grow: 1;
}

.container .login-container button {
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .leagueall_detail ul li {
    flex-direction: column;
    font-size: 0.6rem;
  }

  .leagueall_detail ul li .leaguename {
    display: flex;
  }
  .leagueall_detail ul li .leaguename span {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 5px;
    font-weight: bold;
    color: blue;
  }

  .leagueall_detail ul li .league_detail {
    display: flex;
    flex-wrap: wrap;
  }

  .leagueall_detail ul li .league_detail span a {
    padding: 2px 5px;
    text-align: left;
    background-color: #cccaca;
    border-radius: 0.12rem;
    color: #5c67cc;
  }

  .standings {
    overflow: scroll;
  }

  /* liste matches*/

  .matchList ul li .matchDetails .Team {
    font-size: 1rem;
    width: 30%;
  }

  .matchList ul li .matchDetails .awayTeam {
    margin-left: 1rem;
  }

  .matchList ul li .matchDetails .homeTeam {
    margin-right: 1rem;
  }

  .matchList ul li .matchDetails .score {
    font-size: 1rem;
  }

  .matchList h1 {
    font-size: 1.5rem;
  }

  .matchList .backdir a {
    font-size: 0.6rem;
  }

  .allLeague .backdir a {
    font-size: 0.6rem;
  }

  .backdir a {
    font-size: 0.6rem;
  }
}
