body{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    max-width: fit-content;
    border-radius: 4px;
    justify-content: center;
    height: 100vh;
    
}

.Lesliens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

.bienvenu{
    width: 100%;
    margin-top: 15%;
}


h1{
    text-align: center;
    color: blue;
}

span{
    font-size: 1.3rem;
    padding: 10px 20px;
    background-color: antiquewhite;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(59, 8, 8);
}

a:hover{
    text-decoration: none;
    color: blue;
}


/* ---------------------------------------*/

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

.navbar a img{
    height: 70px;
    margin-left: 70px;
}

.navbar ul li a{
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

.navbar ul li a:hover{
    color: rgb(26, 20, 20);
    background-color: antiquewhite;
    border-radius: 4px;
    padding: 10px;
}

.navbar ul li{
    padding-left: 20px;
    padding-right: 20px;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    /*margin-right: 60px;*/
}

ul{list-style-type: none;}


@media (max-width: 600px) {

.navbar{
    flex-direction: column;
    align-items: center;
}

.navbar ul {flex-direction: column;}
.navbar ul li {margin: 1.1rem 0 1.1rem 0;}
.navbar a img {margin-bottom: 1.2rem; align-items: center;}

}